:root {
  --main-font-size: 14px;
  --secondary-font-size: 16px;
  --text-primary-color: #212121;
  --text-secondary-color: #757575;
  --text-accent-color: #2196f3;
  --mainbackground: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --background-accent: #188ce8;
  --background-icon: #afb1b8;
}
/* utilities and resets */
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--text-primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* webstudio nav*/
.header {
  border-bottom: 1px solid #ececec;
}
.nav-section {
  align-items: center;
}

.nav-logo {
  display: block;
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.173;
  color: var(--text-primary-color);
  text-decoration: none;
}

/* .nav-logo:hover, */
.nav-logo:focus {
  color: var(--text-accent-color);
}
.logo-color {
  color: var(--text-accent-color);
}
.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.172;
  text-decoration: none;
  color: var(--text-primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-nav {
  margin-left: auto;
}
.contacts {
  display: inline-flex;
  align-items: center;
  color: var(--text-secondary-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--text-accent-color);
}
.main-nav .nav-link.current {
  color: var(--text-accent-color);
}
.current::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--background-accent);
}
.main-nav .item + .item {
  margin-left: 50px;
}
.contacts-nav .item + .item {
  margin-left: 50px;
}
.nav-link-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* Studio page */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero-section {
  background: var(--second-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero_background.jpg');

  background-repeat: no-repeat;
  background-position-x: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-heading {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--mainbackground);
}
.hero-btn {
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: var(--secondary-font-size);
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--text-accent-color);
  color: var(--mainbackground);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
  background: var(--background-accent);
}

/* advantages */
.fix {
  padding-bottom: 0;
}
.advantages-heading {
  margin-bottom: 10px;
  font-size: var(--main-font-size);
  line-height: 1.1;
  text-transform: uppercase;
}
.advantages-text {
  font-size: var(--main-font-size);
  line-height: 1.71;
  color: var(--text-secondary-color);
}
.advantages .item {
  width: 270px;
}
.advantages .item + .item {
  margin-left: 30px;
}
.advantages-icon {
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--third-background-color);
}

/* what we do */
.section-heading {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.working .item {
  position: relative;
}
.working .item + .item {
  margin-left: 30px;
}
.working-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.overlay-item {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--mainbackground);
}
/* our team */
.team-section {
  background: var(--third-background-color);
}
.team-heading {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.172;
  text-align: center;
}
.team-text {
  margin-bottom: 16px;
  font-size: var(--secondary-font-size);
  line-height: 1.172;
  text-align: center;
  color: var(--text-secondary-color);
}
.team-list .item {
  width: 270px;
}
.team-list .item + .item {
  margin-left: 30px;
}
.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--mainbackground);
}
.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--background-icon);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  fill: currentColor;
}

.team-social .item-social + .item-social {
  margin-left: 10px;
}
.team-social-link:hover,
.team-social-link:focus {
  background: var(--background-accent);
  color: var(--mainbackground);
}

/* regular customers */
.regular-customers .customer-item {
  width: 170px;
  height: 92px;
}
.customer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: var(--background-icon);
  border: 1px solid var(--background-icon);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-links:hover,
.customer-links:focus {
  color: var(--background-accent);
  border: 1px solid var(--background-accent);
}
.customer-icon {
  fill: currentColor;
}
.customer-item + .customer-item {
  margin-left: 30px;
}

/* portfolio */
/* filter buttons */
.filter-btns {
  justify-content: center;
  margin-bottom: 50px;
}
.filter-btns .item + .item {
  margin-left: 8px;
}
.btn {
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.62;
  cursor: pointer;
  background: var(--third-background-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background: var(--text-accent-color);
  color: var(--mainbackground);
}
.blue-btn {
  background: var(--text-accent-color);
  color: var(--mainbackground);
}
/* works */

.works-heading {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  color: var(--text-primary-color);
}
.works-filter {
  font-size: var(--secondary-font-size);
  line-height: 1.87;
  color: var(--text-secondary-color);
}
.works {
  flex-wrap: wrap;
}
.works .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-thumb {
  position: relative;
  overflow: hidden;
}
.works-overlay {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--mainbackground);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
}
.works-item {
  display: block;
}
.works-item:hover .works-overlay {
  transform: translateY(-100%);
}
.works-item:hover,
.works-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works .item:nth-child(3n) {
  margin-right: 0;
}
.works .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.works-card {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--mainbackground);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--mainbackground);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--background-accent);
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal-header {
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.label-container {
  position: relative;
}
.label-container + .label-container {
  margin-top: 28px;
}
.modal-label {
  position: absolute;
  top: -18px;
  font-family: 'Roboto';

  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.area-comments {
  width: 448px;
  height: 120px;
  padding: 12px 16px 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.area-comments:focus,
.area-comments:hover {
  cursor: pointer;
  outline: none;
  border: 1px solid var(--background-accent);
}
.form-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-input:focus,
.modal-input:hover {
  cursor: pointer;
  outline: none;
  border: 1px solid var(--background-accent);
}
.modal-input:focus ~ .form-svg,
.modal-input:hover ~ .form-svg {
  cursor: pointer;
  fill: var(--background-accent);
}
.license-container {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.license-text {
  margin-left: 15px;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-secondary-color);
}
.license-link {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
  color: var(--background-accent);
}
.modal-check {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-svg {
  position: absolute;
  left: 9px;
  pointer-events: none;

}
.modal-check:checked + .checkbox-svg{
  background-image: url('../images/icon-check.svg');
  background-origin: border-box;
  background-size: contain;
  pointer-events: none;
  fill: var(--background-accent);
}
.modal-send{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  padding: 10px 55px 10px 56px;
}
/* footer */
.footer-links {
  padding: 0;
  margin: 0;
  line-height: 1.71;
  color: #ffffff99;
  font-style: normal;
}

.footer-nav {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--second-background-color);
}
.footer-margin {
  margin-bottom: 20px;
}
.footer-logo {
  color: var(--mainbackground);
}
.footer-text {
  font-size: var(--main-font-size);
  line-height: 1.71;
  color: var(--mainbackground);
  font-style: normal;
}
.footer-contacts {
  margin-top: 9px;
}
.footer-contacts .item + .item {
  margin-top: 9px;
}
.join-us {
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--mainbackground);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.172;
}
.socials-footer {
  margin-left: 70px;
}
.socials-footer .team-social-link {
  background: rgba(255, 255, 255, 0.1);
  color: var(--mainbackground);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-footer .team-social-link:hover,
.socials-footer .team-social-link:focus {
  background: var(--background-accent);
}
.footer-line {
  align-items: baseline;
}
.sign {
  background-color: var(--background-accent);
}
.sign-form {
  margin-left: 93px;
}
.sign-btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 28px;
}
.sign-email {
  background-color: var(--second-background-color);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--third-background-color);
}
.sign-center {
  display: flex;
  align-items: center;
}
.sign-svg {
  margin-left: 10px;
}
